
{% extends "templates/base.html" %}
{% load static %}

{% load leaflet_tags %}
{% load geojson_tags %}

{% block page_content %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<script>
	// flexible drawing functionality
	var map = window.map;
	
	// text drawing
	
	function drawtext_start(onfinish){
		//alert('drawtext start');
		var rect = new L.Draw.Rectangle(map, {shapeOptions: {
													color: 'black'
													},
												showArea:false
												}
											);
		rect.enable();
		function drawtext_create_wrap(e){
			map.off('draw:created', drawtext_create_wrap);
			drawtext_create(e, onfinish);
		};
		map.on('draw:created', drawtext_create_wrap);
	};

	function drawtext_create(e, onfinish){
		//alert('drawtext create');
		var templyr = L.geoJSON(e.layer.toGeoJSON(), {color:'black'});
		map.addLayer(templyr);
		// make editable
		templyr.eachLayer(function (fl) {
			fl.editing.enable();
		});
		// popup
		drawtext_popup(e, templyr, onfinish);
	};

	function drawtext_popup(e, templyr, onfinish){
		//alert('drawtext popup');
		// define popup
		var geoj = templyr.toGeoJSON().features[0];
		var content = '<div><h4>Text</h4><form id="id_drawtext_form"><input type="hidden" id="id_drawtext_geom" value='+"'"+JSON.stringify(geoj)+"'"+'><input id="id_drawtext_text" type="text"><p><button id="id_drawtext_finishbut" class="btn btn-primary" type="submit">Save</button><button id="id_drawtext_cancelbut" class="btn btn-secondary" type="button">Cancel</button></p></form></div>'
		var popup = L.popup({closeOnClick:false, closeOnEscapeKey:true, autoClose:false, closeButton:false});
		popup.setContent(content);
		// open popup at location
		var bounds = templyr.getBounds();
		var latlng = bounds.getSouthWest();
		popup.setLatLng(latlng);
		map.openPopup(popup);
		// define finish func
		function drawtext_finish(){
			//alert('drawtext finish');
			// run onfinish func
			onfinish();
			// exit
			drawtext_cancel();
		};
		// define cancel func
		function drawtext_cancel(){
			//alert('drawtext finish');
			map.removeLayer(templyr);
			map.closePopup(popup);
		};
		// set button onclick func
		document.getElementById("id_drawtext_form").onsubmit = function() {drawtext_finish(); return false;}; // return false is necessary to disable form submit redirect
		document.getElementById("id_drawtext_cancelbut").addEventListener("click", drawtext_cancel);
		// focus on text input
		document.getElementById("id_drawtext_text").focus();
	};
	
	// text selection
	function selecttext_start(lyr, onfinish){
		//alert('drawtext select');
		// onclick wrapper
		function selecttext_select_wrap(e){
			// unbind click
			lyr.off('click', selecttext_select_wrap);
			// open popup
			var featlyr = e.layer;
			selecttext_popup(e, lyr, featlyr, onfinish)
		};
		// bind click
		lyr.on('click', selecttext_select_wrap);
	};
	
	function selecttext_popup(e, lyr, featlyr, onfinish){
		//alert('drawtext popup');
		// define finish func
		function selecttext_finish(){
			//alert('drawtext finish');
			// run onfinish func
			onfinish();
			// exit
			map.closePopup();
		};
		// define popup
		var content = '<div><input type="hidden" id="id_selecttext_data" value='+"'"+JSON.stringify(featlyr.toGeoJSON())+"'"+'><p>'+featlyr.feature.properties.text+'</p><button id="id_selecttext_finishbut">Select</button><button id="id_selecttext_editbut">Edit</button></div>';
		var popup = L.popup({closeOnClick:false, closeOnEscapeKey:true, autoClose:false});
		popup.setContent(content);
		// open popup at location
		var bounds = featlyr.getBounds();
		var latlng = bounds.getSouthWest();
		popup.setLatLng(latlng);
		map.openPopup(popup);
		// set button onclick func
		document.getElementById("id_selecttext_finishbut").addEventListener("click", selecttext_finish);
	};
	
	// geom drawing
	
	function multiGeomToFeatureCollection(geoj) {
		coll = {'type':'FeatureCollection',
				'features':[]};
		if (geoj.geometry.type.startsWith('Multi')) {
			geoj.geometry.coordinates.forEach(function(part){
				var geom = {'type':geoj.geometry.type.slice(5),
							'coordinates':part};
				var feat = {'type':'Feature',
							'properties':geoj.properties,
							'geometry':geom};
				coll.features.push(feat);
			});
		} else {
			coll.features.push(geoj);
		};
		return coll;
	};
	
	function featureCollectionToMultiGeom(geoj) {
		if (geoj.features.length > 1) {
			// merge into multigeom
			var multi = [];
			for (i = 0; i < geoj.features.length; i++) {
				var coords = geoj.features[i].geometry.coordinates;
				multi.push(coords);
			};
			var geom = {'type':'Multi'+geoj.features[0].geometry.type,
						'coordinates':multi};
			var geoj = {'type':'Feature',
						'properties':geoj.features[0].properties,
						'geometry':geom};
		} else {
			// use first feature
			var geoj = geoj.features[0];
		};
		return geoj;
	};
	
	function drawgeom_start(onfinish, templyr=null, oldlyr=null){
		//alert('drawgeom start');
		if (!templyr) {
			var templyr = L.geoJSON();
			map.addLayer(templyr);
		};
		var geomtype = document.getElementById("id_type").value;
		if (geomtype == 'Point') {
			var drawer = new L.Draw.Rectangle(map, {shapeOptions: {
														//showArea: true,
														//color: '#FFF'
														}
													}
												);
		} else if (geomtype == 'LineString') {
			var drawer = new L.Draw.Polyline(map, {shapeOptions: {
														//showArea: true,
														//color: '#FFF'
														}
													}
												);
		} else {
			var drawer = new L.Draw.Polygon(map, {shapeOptions: {
														//showArea: true,
														//color: '#FFF'
														}
													}
												);
		};
		drawer.enable();
		function drawgeom_create_wrap(e){
			map.off('draw:created', drawgeom_create_wrap);
			drawgeom_create(e, templyr, onfinish, oldlyr);
		};
		map.on('draw:created', drawgeom_create_wrap);
	};
	
	function drawgeom_create(e, templyr, onfinish, oldlyr=null){
		//alert('drawgeom create');
		var geoj = e.layer.toGeoJSON();
		coll = templyr.toGeoJSON();
		coll.features.push(geoj);
		templyr.clearLayers();
		templyr.addData(coll);
		// make editable
		templyr.eachLayer(function (fl) {
			fl.editing.enable();
		});
		// call popup
		drawgeom_popup(e, templyr, onfinish, oldlyr);
	};
	
	function drawgeom_popup(e, templyr, onfinish, oldlyr=null){
		//alert('drawgeom popup');
		// define popup
		var geoj = templyr.toGeoJSON();
		label = ''
		if (geoj.features[0].properties.label) {
			label = geoj.features[0].properties.label;
		};
		var content = '<div><h4>Feature</h4><h5>Geometries</h5><input type="hidden" id="id_drawgeom_geom" value='+"'"+JSON.stringify(geoj)+"'"+'><button id="id_drawgeom_addbut">Add Geometry</button><h5>Label</h5><a id="id_drawgeom_label_display" href=""></a><div id="id_drawgeom_label_buttons"><input id="id_drawgeom_label" type="hidden" value='+"'"+JSON.stringify(label)+"'"+'><button type="button" onclick="selecttext_start(window.textlyr, select_drawgeom_label);"><img height="20px" src="https://icons.iconarchive.com/icons/iconsmind/outline/512/Cursor-Select-icon.png"></button><button type="button" onclick="drawtext_start(new_drawgeom_label);"><img height="20px" src="https://i.ya-webdesign.com/images/how-to-add-text-to-a-png-image-11.png"></button></div><p><button id="id_drawgeom_finishbut" class="btn btn-primary" type="button">Save</button><button id="id_drawgeom_cancelbut" class="btn btn-secondary" type="button">Cancel</button></p></div>';
		var popup = L.popup({closeOnClick:false, closeOnEscapeKey:true, autoClose:false, closeButton:false});
		popup.setContent(content);
		// open popup at location
		var bounds = e.layer.getBounds();
		var latlng = bounds.getSouthWest();
		popup.setLatLng(latlng);
		map.openPopup(popup);
		// update label
		if (label) {
			update_drawgeom_label(label);
		};
		// define add func
		function drawgeom_add(){
			//alert('drawgeom add');
			var geoj = templyr.toGeoJSON();
			// add in label
			var labelstr = document.getElementById("id_drawgeom_label").value;
			if (labelstr){
				var label = JSON.parse(labelstr);
				geoj.features.forEach(function(f){
					f.properties.label = label;
				});
			};
			// update templyr
			templyr.clearLayers();
			templyr.addData(geoj);
			// close popup
			map.closePopup();
			// run start func again, this time building on existing templyr
			drawgeom_start(onfinish, templyr, oldlyr);
		};
		// define finish func
		function drawgeom_finish(){
			//alert('drawgeom finish');
			var geoj = templyr.toGeoJSON();
			geoj = featureCollectionToMultiGeom(geoj);
			// add in label
			var labelstr = document.getElementById("id_drawgeom_label").value;
			if (labelstr){
				var label = JSON.parse(labelstr);
				geoj.properties.label = label;
			};
			// store back to dom
			document.getElementById("id_drawgeom_geom").value = JSON.stringify(geoj);
			// run onfinish func
			if (oldlyr) {
				onfinish(oldlyr);
			} else {
				onfinish();
			};
			// exit
			drawgeom_cancel();
		};
		// define cancel func
		function drawgeom_cancel(){
			//alert('drawgeom finish');
			// clear prev drawn geometries
			templyr.clearLayers();
			map.removeLayer(templyr);
			// exit
			map.closePopup(popup);
		};
		// set button onclick func
		document.getElementById("id_drawgeom_addbut").addEventListener("click", drawgeom_add);
		document.getElementById("id_drawgeom_finishbut").addEventListener("click", drawgeom_finish);
		document.getElementById("id_drawgeom_cancelbut").addEventListener("click", drawgeom_cancel);
	};
	
	function new_drawgeom_label(){
		// get geometry
		var geoj = JSON.parse(document.getElementById("id_drawtext_geom").value);
		// set properties
		geoj.properties.text = document.getElementById("id_drawtext_text").value;
		// add to existing textlyr
		window.textlyr.addData(geoj);
		// update
		update_drawgeom_label(geoj);
	};
	
	function select_drawgeom_label(){
		// get geometry
		var geoj = JSON.parse(document.getElementById("id_selecttext_data").value);
		// update
		update_drawgeom_label(geoj);
	};
	
	function update_drawgeom_label(geoj){
		// save as json string
		document.getElementById("id_drawgeom_label").value = JSON.stringify(geoj);
		// update text
		document.getElementById("id_drawgeom_label_display").textContent = geoj.properties.text;
		// hide label buttons
		document.getElementById("id_drawgeom_label_buttons").style.display = 'none';
	};
</script>

<h3>Now Editing Layer: {{ layer.name }}</h3>
<h4>in map: <a href={% url "map_view" map.pk %}>{{ map.filename }}</a></h4>

<div class="alert alert-dark" role="alert">
<h4>Layer Information:</h4>
<form id="id_layerform" action="{% url 'layer_edit' form.initial.id %}" method="post" style="margin-bottom:0">
{% csrf_token %}
<table style="width:100%; table-layout: fixed; margin:10px">
	<tr>
		<th>Name</th>
		<th>Type</th>
		<th>Comment</th>
	</tr>
	<tr>
		<td style="font-weight: bold">{{ form.name }}</td>
		<td>{{ form.type }}</td>
		<td>{{ form.comment }}</td>
	</tr>
</table>
<table style="width:100%; table-layout: fixed; margin:10px">
	<tr>
		<th>Legend Description</th>
		<th>Legend Symbol</th>
		<th></th>
	</tr>
	<tr>
		<td>
			<p><a id="id_legend_description_display" href=""></a></p>
			<input id="id_legend_description" name="legend_description" type="hidden">
			<script>
				var map = window.map;
				
				function new_legend_description(){
					// get geometry
					var geoj = JSON.parse(document.getElementById("id_drawtext_geom").value);
					// set properties
					geoj.properties.text = document.getElementById("id_drawtext_text").value;
					// add to existing textlyr
					window.textlyr.addData(geoj);
					// update
					update_legend_description(geoj);
				};
				
				function select_legend_description(){
					// get geometry
					var geoj = JSON.parse(document.getElementById("id_selecttext_data").value);
					// update
					update_legend_description(geoj);
				};
				
				function update_legend_description(geoj){
					// save as json string
					document.getElementById("id_legend_description").value = JSON.stringify(geoj);
					// update text
					document.getElementById("id_legend_description_display").textContent = geoj.properties.text;
					document.getElementById("id_name").value = geoj.properties.text;
					// hide custom name
					document.getElementById("id_legend_description_buttons").style.display = 'none';
					//document.getElementById("id_name").style.display = 'none';
					// scroll back up
					document.getElementById("id_layerform").scrollIntoView();
				};
			</script>
			<div id="id_legend_description_buttons">
				<button type="button" onclick="selecttext_start(window.textlyr, select_legend_description);"><img height="20px" src="https://icons.iconarchive.com/icons/iconsmind/outline/512/Cursor-Select-icon.png"></button>
				<button type="button" onclick="drawtext_start(new_legend_description);"><img height="20px" src="https://i.ya-webdesign.com/images/how-to-add-text-to-a-png-image-11.png"></button>
			</div>
		</td>
		<td>
			<input id="id_legend_symbol" name="legend_symbol" value="{{ layer.legend_symbol|safe }}" type="hidden">
			<script>
				// see example:
				// https://northlandia.wordpress.com/2015/03/27/leaflet-draw-implementing-custom-tools/
				
				var map = window.map;
				
				function drawsymbol_start(){
					//alert('drawsymbol start');
					var stopclick = false; //to prevent more than one click listener
					var rect = new L.Draw.Rectangle(map, {shapeOptions: {
																showArea: true,
																color: '#FFF'
																}
															}
														);
					rect.enable();
					map.on('draw:created', drawsymbol_create);
				};
				
				function drawsymbol_edit(){
					//alert('drawsymbol edit');
					// first delete existing
					// ...
					drawsymbol_start();
				};
				
				function drawsymbol_create(e){
					//alert('drawsymbol create');
					drawsymbol_finish(e);
				};
				
				function drawsymbol_finish(e){
					//alert('drawsymbol finish');
					var data = e.layer.toGeoJSON();
					document.getElementById("id_legend_symbol").value = JSON.stringify(data);
					map.off('draw:created', drawsymbol_create);
					drawsymbol_update_buttons();
				};
				
				function drawsymbol_update_buttons(){
					//alert('drawsymbol update buttons');
					var drawbut = document.getElementById("id_legend_symbol_drawbut");
					var editbut = document.getElementById("id_legend_symbol_editbut");
					if (document.getElementById("id_legend_symbol").value) {
						drawbut.style.display = 'none';
						editbut.style.display = null;
					} else {
						drawbut.style.display = null;
						editbut.style.display = 'none';
					};
				};
			</script>
			
			<button id="id_legend_symbol_editbut" type="button" onclick="drawsymbol_edit();" style="{% if layer.legend_symbol %}{% else %}display:none{% endif %}">
			Edit
			</button>
			
			<button id="id_legend_symbol_drawbut" type="button" onclick="drawsymbol_start();" style="{% if layer.legend_symbol %}display:none{% else %}{% endif %}">
			Draw
			</button>
		</td>
		<td></td>
	</tr>
</table>

<script>
	var map = window.map;

	function new_feature(){
		// get geometry
		var geoj = JSON.parse(document.getElementById("id_drawgeom_geom").value);
		// add to existing feature lyr
		window.featureslyr.addData(geoj);
	};
	
	function replace_feature(feat){
		// get old feature obj
		// ...
		// get new geometry
		var geoj = JSON.parse(document.getElementById("id_drawgeom_geom").value);
		// replace
		window.featureslyr.removeLayer(feat);
		window.featureslyr.addData(geoj);
	};
	
	function editgeom_start(onfinish) {
		function editgeom_select_wrap(e){
			window.featureslyr.off('click', editgeom_select_wrap);
			editgeom_select(e, replace_feature);
		};
		window.featureslyr.on('click', editgeom_select_wrap);
	};
	
	function editgeom_select(e, onfinish){
		//alert('editgeom select');
		var edit = e.layer;
		var geoj = e.layer.toGeoJSON();
		geoj = multiGeomToFeatureCollection(geoj);
		var templyr = L.geoJSON();
		templyr.addData(geoj);
		map.addLayer(templyr);
		// make editable
		templyr.eachLayer(function (fl) {
			fl.editing.enable();
		});
		// call popup
		drawgeom_popup(e, templyr, onfinish, oldlyr=edit);
	};
	
</script>

<table style="width:100%; table-layout: fixed; margin:10px">
	<tr>
		<th>Digitizing</th>
		<th></th>
		<th></th>
	</tr>
	<tr>
		<td>
			<button type="button" onclick="drawgeom_start(new_feature)">New Feature</button>
			<button type="button" onclick="editgeom_start(replace_feature);">Edit</button>
		</td>
		<td></td>
		<td></td>
	</tr>
</table>
<div style="text-align:right">
	<input id="id_features" name="features" value="" type="hidden">
	<script>
		function submitform() {
			// get features data
			var data = window.featureslyr.toGeoJSON();
			document.getElementById("id_features").value = JSON.stringify(data);
			// submit form
			document.getElementById("id_layerform").submit();
		};
	</script>
	<button id="id_submitform" class="btn btn-primary" type="button" onclick="submitform();">
	Finish
	</button>
	or
	<a href="{% url 'map_view' map.pk 'layers' %}" class="btn btn-secondary">
	Cancel
	</a>
</div>
</form>
</div>

<div id="map_div">
	{% block extra_assets %}
	  {% leaflet_css %}
	  {% leaflet_js %}
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js" integrity="sha256-siofc4Uwjlra3YWkwthOn8Uj69cNN4aMug/iOHNiRgs=" crossorigin="anonymous"></script>
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" integrity="sha256-XzD3RpaHPv7lzX9qt+2n1j5cWj48O24KsgaGYpKN8x8=" crossorigin="anonymous" />
	{% endblock %}

	<script type="text/javascript">
	
	  var texts = [{% for text in map.texts.all %}
			{'type': 'Feature',
			'properties': {'text':'{{ text.text }}'},
			'geometry': {{ text.geom|safe }}
			},
		{% endfor %}
	  ];
	  
	  function map_init(map, options) {
		  // remember
		  window.map = map;
		  
		  // set to pixel crs
		  map.options.crs = L.CRS.Simple;
		  map.options.crs.transformation = new L.Transformation(1, 0, 1, 0);
		  map.options.maxBounds = L.latLngBounds(L.latLng(-100000,-100000),L.latLng(100000,100000));
		  map.options.minZoom = -10; 
		  
		  // remove existing layers (osm tiles)
		  map.eachLayer(function(layer){
			map.removeLayer(layer);
		  });
		  
		  // add image overlay
		  var imageBounds = [[0,0], [{{ map.height }},{{ map.width }}]];
		  var imageUrl = '{{ map.url }}';
		  var imglyr = L.imageOverlay(imageUrl, imageBounds);
		  imglyr.addTo(map);
		  
		  // add text layer
		  var textlyr = L.geoJson(texts, {'color':'black'}).addTo(map);
		  window.textlyr = textlyr;
		  
		  // add features layer
		  var features = {{ layer.to_geojson|safe }};
		  var featureslyr = L.geoJson(features, {color:'green'}).addTo(map);
		  window.featureslyr = featureslyr;
		  
		  // layers control
		  var layersControl = L.control.layers({}, {'Map':imglyr, 'Text':textlyr, 'Layer Features':featureslyr}, {collapsed:false}).addTo(map);
		  
		  // zoom and pan behavior
		  map.options.zoomSnap = 0;
		  //map.options.zoomDelta = 0.1;
		  map.options.wheelPxPerZoomLevel = 40; //40
		  map.options.wheelDebounceTime = 80; //60
		  map.options.maxBoundsViscosity = 1;
		  
		  // zoom to extent
		  map.fitBounds(imageBounds);
	  }
	</script>

	{% leaflet_map "layers_map" callback="window.map_init" %}
	
	<style>
    .leaflet-container {  /* all maps */
        height: 600px;
    }
	</style>

</div>

<br><br>

{% endblock %}