
{% extends "templates/base.html" %}
{% load static %}

{% block page_content %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<h3>Map: <a href={{ map.url }}>{{ map.filename }}</a></h3>

<ul class="nav nav-tabs">
	<li {% if tab == 'map' %} class="active" {% endif %}>
		<a class="nav-link" href="{% url 'map_view' map.pk 'map' %}">Digital Map</a>
	</li>
	<li {% if tab == 'layers' %} class="active" {% endif %}>
		<a class="nav-link" href="{% url 'map_view' map.pk 'layers' %}">Map Layers</a>
	</li>
	<li {% if tab == 'georef' %} class="active" {% endif %}>
		<a class="nav-link" href="{% url 'map_view' map.pk 'georef' %}">Georeferenced</a>
	</li>
</ul>

<div class="container">
    {% block tab_content %}{% endblock %}
</div>

{% endblock %}