
{% extends "templates/map_view_base.html" %}
{% load static %}

{% load leaflet_tags %}
{% load geojson_tags %}

{% block tab_content %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<br>

<table style="width:100%; table-layout: fixed;">
	<tr>
		<td style="font-weight: bold;">Last Georeferenced:</td>
		<td>{% if form.georeferenced.value %}
				{{ form.georeferenced.value }}
			{% else %}
				Never
			{% endif %}
		</td>
		<td></td>
		<td>{% if form.transform.value %}
				<a href="{% url 'map_download_georef' map.pk %}" class="btn btn-primary">
					Download Georeferenced
				</a>
			{% endif %}
		</td>
		<td>
			<a href="{% url 'map_update_georef' map.pk %}" class="btn btn-primary">
			{% if form.georeferenced.value %}
				Run Again
			{% else %}
				Auto Detect
			{% endif %}
			</a>
		</td>
	</tr>
</table>

<br><br>

<div id="map_div">
	{% block extra_assets %}
	  {% leaflet_css %}
	  {% leaflet_js %}
	{% endblock %}

	<script type="text/javascript">
	
	  var gcps = {{ form.gcps.value|safe }};
	  
	  function map_init(map, options) {
		  // set to pixel crs
		  //map.options.crs = L.CRS.Simple;
		  //map.options.crs.transformation = new L.Transformation(1, 0, 1, 0);
		  map.options.maxBounds = null;
		  map.options.minZoom = -10; 
		  
		  // add georef overlay
		  var georefBounds = [[-10,0], [0,10]];
		  var georefUrl = '/map/download/{{ map.pk }}/georef?maxdim=200';
		  var georefLyr = L.imageOverlay(georefUrl, georefBounds);
		  georefLyr.addTo(map);
		  		  
		  // add gcps layer
		  var gcpslyr = L.geoJson(gcps, {}).addTo(map);
		  
		  // layers control
		  L.control.layers(null, {'Georeferenced':georefLyr, 'Control Points':gcpslyr}, {collapsed:false}).addTo(map);
		  
		  // zoom to extent
		  map.fitBounds(gcpslyr.getBounds());
		  
		  // zoom and pan behavior
		  map.options.zoomSnap = 0;
		  //map.options.zoomDelta = 10;
		  map.options.wheelPxPerZoomLevel = 40; //40
		  map.options.wheelDebounceTime = 80; //60
		  map.options.maxBoundsViscosity = 1;
	  }
	</script>

	{% leaflet_map "georef_map" callback="window.map_init" %}
</div>

<br><br>

<div class="alert alert-info" role="alert">
<table style="width:100%">
	<tr>
		<td style="font-weight: bold; vertical-align:top">Transform:</td>
		<td>{{ form.transform }}</td>
	</tr>
	<tr>
		<td style="font-weight: bold; vertical-align:top">Control Points:</td>
		<td>{{ form.gcps }}</td>
	</tr>
</table>
</div> 

{% endblock %}