
{% extends "templates/map_view_base.html" %}
{% load static %}

{% load leaflet_tags %}
{% load geojson_tags %}

{% block tab_content %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<br>

<table style="width:100%">
	<tr>
		<td style="font-weight: bold; padding:5px">Map Size:</td>
		<td>{{ map.width }} x {{ map.height }} pixels</td>
	</tr>
	<tr>
		<td style="font-weight: bold; padding:5px">Source Link:</td>
		<td><a href={{ map.url }}>{{ map.url }}</a></td>
		<td><a href="{% url 'map_update_about' map.pk %}" class="btn btn-primary">
			Update Info
			</a>
		</td>
	</tr>
</table>

<table style="width:100%; table-layout: fixed; margin-top:10px">
	<tr>
	<form id="search_map" action="{% url 'map_view' map.pk 'map' %}" method="get">
		<td>
		<input class="form-control col-md-10" id="search" name="search" type="text" placeholder="Search map..." value="{{ request.GET.search }}">
		</td>
		<td>
		<button class="btn btn-primary" id="search_button" type="submit">Search</button>
		</td>
		<td></td>
		<td></td>
		<td></td>
	</form>
	</tr>
	
	<tr>
		<td style="font-style:italic; font-size:small; padding:10px">
		{% if request.GET.search %}
			Text results:
			{{ highlight|length }}
		{% endif %}
		</td>
	</tr>
	
</table>

<div id="map_div">
	{% block extra_assets %}
	  {% leaflet_css %}
	  {% leaflet_js %}
	{% endblock %}

	<script type="text/javascript">
	
	  var layout = {{ form.layout.value|safe }};
	  var texts = [{% for text in map.texts.all %}
			{'type': 'Feature',
			'properties': {},
			'geometry': {{ text.geom|safe }}
			},
		{% endfor %}
	  ];
	  var highlight = {{ highlight|geojsonfeature:':geometry'|safe }};
	  
	  function map_init(map, options) {
		  // set to pixel crs
		  map.options.crs = L.CRS.Simple;
		  map.options.crs.transformation = new L.Transformation(1, 0, 1, 0);
		  map.options.maxBounds = L.latLngBounds(L.latLng(-100000,-100000),L.latLng(100000,100000));
		  map.options.minZoom = -10; 
		  
		  // remove existing layers (osm tiles)
		  map.eachLayer(function(layer){
			map.removeLayer(layer);
		  });
		  
		  // add image overlay
		  var imageBounds = [[0,0], [{{ form.height.value }},{{ form.width.value }}]];
		  var imageUrl = '{{ form.url.value }}';
		  var imglyr = L.imageOverlay(imageUrl, imageBounds);
		  //imglyr.setOpacity(0.4);
		  imglyr.addTo(map);
		  		  
		  // add layout layer
		  var layoutlyr = L.geoJson(layout, {'color':'black','fill':null}).addTo(map);
		  
		  // add text layer
		  var textlyr = L.geoJson(texts, {'color':'black'}).addTo(map);
		  
		  // add highlight layer
		  var highlightlyr = L.geoJson(highlight, {'color':'yellow'}).addTo(map);
		  
		  // layers control
		  var layersControl = L.control.layers({}, {'Map':imglyr, 'Layout':layoutlyr, 'Text':textlyr}, {collapsed:false}).addTo(map);
		  
		  // digitized layers
		  // colors from colorbrewer: https://colorbrewer2.org/#type=qualitative&scheme=Paired&n=12
		  var colors = ['rgb(31,120,180)',
						'rgb(227,26,28)',
						'rgb(51,160,44)',
						'rgb(255,127,0)',
						'rgb(106,61,154)',
						'rgb(177,89,40)',
						
						'rgb(166,206,227)',
						'rgb(251,154,153)',
						'rgb(178,223,138)',
						'rgb(253,191,111)',
						'rgb(202,178,214)',
						'rgb(255,255,153)'];
		  {% for lyr in layers %}
			lyrdata = {{ lyr.to_geojson|safe }};
			
			// color
			var color = colors[{{ forloop.counter0 }}];
			
			// custom icon (old css-based)
			var markerHtmlStyle = `
				  background-color: ${color};
				  width: 2rem;
				  height: 2rem;
				  display: block;
				  left: -1rem;
				  top: -1rem;
				  position: relative;
				  border-radius: 2rem 2rem 0;
				  transform: rotate(45deg);
				  border: 0.5px solid #FFFFFF`
			var coloredIcon = L.divIcon({
				  className: "my-custom-pin",
				  iconAnchor: [0, 24],
				  labelAnchor: [-6, 0],
				  popupAnchor: [0, -36],
				  html: `<span style="${markerHtmlStyle}" />`
			});
			
			// custom icon (svg-based)
			var markerHtmlSvg = '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="2em" height="2.5em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1536"><path d="M768 512q0-106-75-181t-181-75t-181 75t-75 181t75 181t181 75t181-75t75-181zm256 0q0 109-33 179l-364 774q-16 33-47.5 52t-67.5 19t-67.5-19t-46.5-52L33 691Q0 621 0 512q0-212 150-362T512 0t362 150t150 362z" fill="' + color + '"/><path d="M768 512q0-106-75-181t-181-75t-181 75t-75 181t75 181t181 75t181-75t75-181z" fill="white"></svg>';
			var coloredIcon = L.divIcon({
				  className: "my-custom-pin",
				  iconAnchor: [10, 33], // hacky...
				  labelAnchor: [-6, 0], // not sure if correct
				  popupAnchor: [0, -36], // not sure if correct
				  html: markerHtmlSvg,
			});
			
			// load as geojson with style
			var style = {'color':color,
						 'pointToLayer': function (feature, latlng) {
												return L.marker(latlng, {icon: coloredIcon});
											}
						};
			leaflayer = L.geoJson(lyrdata, style).addTo(map);
			
			// legend entry
			var name = '{{ forloop.counter }} - ' + '{{ lyr.name }}';
			var legendEntry = '<div style="display:inline-block; width:10px; height:10px; margin-right:5px; background-color:'+color+'"></div>' + name;
			
			layersControl.addOverlay(leaflayer, legendEntry);
		  {% endfor %}
		  
		  // zoom and pan behavior
		  map.options.zoomSnap = 0;
		  //map.options.zoomDelta = 0.1;
		  map.options.wheelPxPerZoomLevel = 40; //40
		  map.options.wheelDebounceTime = 80; //60
		  map.options.maxBoundsViscosity = 1;
		  
		  // zoom to extent
		  //alert(highlightlyr.getBounds().toBBoxString());
		  if (highlightlyr.getBounds().isValid()) {
			highlightBounds = highlightlyr.getBounds();
			map.fitBounds(highlightBounds);
			map.zoomOut();
		  } else {
			map.fitBounds(imageBounds);
		  };
	  }
	</script>

	{% leaflet_map "layers_map" callback="window.map_init" %}
	
	<style>
    .leaflet-container {  /* all maps */
        height: 600px;
    }
	</style>

</div>

<table style="width:100%; table-layout: fixed; margin:10px;">
	<tr>
		<td><b>Last Indexed:</b>
		{{ map.created }}</td>
		<td></td>
		<td></td>
	</tr>
</table>

<br>

{% endblock %}