
{% extends "templates/map_view_base.html" %}
{% load static %}


{% block tab_content %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<br>

<table style="width:100%; table-layout: fixed;">
	<tr>
		<td style="font-weight: bold;">Last Georeferenced:</td>
		<td>{% if form.georeferenced.value %}
				{{ form.georeferenced.value }}
			{% else %}
				Never
			{% endif %}
		</td>
		<td></td>
		<td></td>
		<td>
			<a href="{% url 'map_auto_georef' map.pk %}" class="btn btn-primary">
			{% if form.georeferenced.value %}
				Run Again
			{% else %}
				Auto Detect
			{% endif %}
			</a>
		</td>
	</tr>
</table>

<br><br>

<div class="alert alert-info" role="alert">
<table style="width:100%">
	<tr>
		<td style="font-weight: bold;">Transform:</td>
		<td>{{ form.transform }}</td>
	</tr>
	<tr>
		<td style="font-weight: bold;">Control Points:</td>
		<td>{{ form.gcps }}</td>
	</tr>
	<tr>
		<td style="font-weight: bold;">Layout:</td>
		<td>{{ form.layout }}</td>
	</tr>
</table>
</div> 

{% endblock %}