
{% extends "templates/map_view_base.html" %}
{% load static %}

{% load leaflet_tags %}
{% load geojson_tags %}

{% block tab_content %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<br>

<table style="width:100%; table-layout: fixed;">
	<tr>
		<td style="font-weight: bold;">Num. Layers:</td>
		<td>
				{{ map.layers.all | length }}
		</td>
		<td></td>
		<td></td>
		<td>
			<a href="{% url 'layer_add' %}?map={{ map.pk }}" class="btn btn-primary">
				Add New Layer
			</a>
		</td>
	</tr>
</table>

<br>

{% if not layers %}

<div style="width:100%; text-align:center">
<em>This map has not been digitized yet</em>
<div>

{% endif %}


{% block extra_assets %}
  {% leaflet_css %}
  {% leaflet_js %}
{% endblock %}

<script type="text/javascript">
// colors from colorbrewer: https://colorbrewer2.org/#type=qualitative&scheme=Paired&n=12
var colors = ['rgb(31,120,180)',
						'rgb(227,26,28)',
						'rgb(51,160,44)',
						'rgb(255,127,0)',
						'rgb(106,61,154)',
						'rgb(177,89,40)',
						
						'rgb(166,206,227)',
						'rgb(251,154,153)',
						'rgb(178,223,138)',
						'rgb(253,191,111)',
						'rgb(202,178,214)',
						'rgb(255,255,153)'];
</script>

{% for lyr in layers %}

<div class="alert alert-dark" role="alert">
	<div style="width:60%; display:inline-block; vertical-align:top">
		<h4 class="alert-heading">
			Layer {{ forloop.counter }}: {{ lyr.name }}
			<a href="{% url 'layer_edit' lyr.pk %}" style="padding-left:10px">
				<img src="https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/new-24-512.png" height=20px>
			</a>
			<a href="{% url 'layer_download_trans' lyr.pk %}" style="padding-left:10px">
				<img src="https://cdn1.iconfinder.com/data/icons/arrows-vol-1-4/24/download_1-512.png" height=25px>
			</a>
			<a href="{% url 'layer_delete' lyr.pk %}" style="padding-left:10px">
				<img src="https://cdn4.iconfinder.com/data/icons/complete-common-version-6-4/1024/trash-512.png" height=20px>
			</a>
		</h4>
		<table style="width:100%;" class="table">
			<tr>
				<td style="font-weight:bold;">Geometry Type:</td>
				<td>{{ lyr.type }}</td>
			</tr>
			<tr>
				<td style="font-weight:bold;">Legend Symbol:</td>
				<td><img src="https://cdn2.iconfinder.com/data/icons/geometry-outline/60/42_-Geometric_Form-_geometry_shape_form_drawing-512.png" height=20px>
				</td>
			</tr>
			<tr>
				<td style="font-weight:bold;">Description:</td>
				<td>{{ lyr.legend_description }}</td>
			</tr>
			<tr>
				<td style="font-weight:bold;">Features:</td>
				<td>{{ lyr.features.all.count }}</td>
			</tr>
		</table>
		{% if lyr %}
			* <em>{{ lyr.comment }}</em>
		{% endif %}
	</div>

	<div id="map_div_{{ forloop.counter }}" style="width:38%; display:inline-block;">

		<script type="text/javascript">

		  var lyrdata_{{ forloop.counter }} = {{ lyr.to_geojson|safe }};
		  
		  function map_init_{{ forloop.counter }}(map, options) {
			  // set to pixel crs
			  map.options.crs = L.CRS.Simple;
			  map.options.crs.transformation = new L.Transformation(1, 0, 1, 0);
			  map.options.maxBounds = L.latLngBounds(L.latLng(-100000,-100000),L.latLng(100000,100000));
			  map.options.minZoom = -10; 
			  
			  // add image overlay
			  var imageBounds = [[0,0], [{{ form.height.value }},{{ form.width.value }}]];
			  var imageUrl = '{% url "map_download_thumb" map.pk %}';
			  var imglyr = L.imageOverlay(imageUrl, imageBounds);
			  imglyr.addTo(map);
			  
			  // add layer data
			  var color = colors[{{ forloop.counter0 }}];
			  leaflayer = L.geoJson(lyrdata_{{ forloop.counter }}, {'color':color}).addTo(map);
			  
			  // zoom and pan behavior
			  map.options.zoomSnap = 0;
			  //map.options.zoomDelta = 0.1;
			  map.options.wheelPxPerZoomLevel = 40; //40
			  map.options.wheelDebounceTime = 80; //60
			  map.options.maxBoundsViscosity = 1;
			  
			  // zoom to extent
			  map.fitBounds(imageBounds);
		  }
		</script>

		{% with countstr=forloop.counter|stringformat:"s" %}
		{% with mapname="layers_map_"|add:countstr initfunc="window.map_init_"|add:countstr %}
			{% leaflet_map mapname callback=initfunc %}
		{% endwith %}
		{% endwith %}

		<style>
		.leaflet-container { 
			min-width: 200px;
			min-height: 200px;
			height: 200px;
		}
		</style>
	</div>

</div>

{% endfor %}

<br>

{% endblock %}