
{% extends "templates/base.html" %}
{% load static %}

{% block page_content %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<h1>
Search the Internet for Maps
</h1>

<form id="search_form" action="{% url 'search' %}" method="get">

<div class="row">
	
	<input id="intersects" name="intersects" type="hidden" value="{{ request.GET.intersects }}">
	
	<div class="col-md-2 custom-checkbox" style="display:none">
		<input type="checkbox" class="custom-control-input" id="windowFilter">
		<label class="custom-control-label" for="windowFilter">Limit to Map Window</label>
	</div>
	
</div>

<br>

<div class="row">
	<input class="form-control col-md-10" id="search" name="name" type="text" placeholder="Search maps by text or url..." value="{{ request.GET.name }}">
		
	<button class="btn btn-primary" id="search_button" type="submit">Search</button>
</div>

<br>
	
<div id="map_div">
</div>

<input type="hidden" id="map_bbox" name="bbox">

</form>

<br>

{% if result.count %}

<div id="results_div">

	<h5>
	Search Results
	{% if result.count > 100 %}
		(First {{ result.matches|length }} of {{ result.count }}):
	{% elif result.count %}
		({{ result.count }}):
	{% endif %}
	</h5>
	
	<div class="table-striped table-hover table-responsive">
	  <table class="table">
		<thead>
		  <tr>
			<th>Name</th>
			<th>Code</th>
			<th>Class</th>
			<th>Gazetteer</th>
			<th>Time Period</th>
			<th>Match</th>
			<th></th>
		  </tr>
		</thead>
		<tbody>
	    {% for match in result.matches %}
			<tr>
				<td>
				{% for name in match.item.names %}
					{{ name.name }}
					{% if not forloop.last %} | {% endif %}
				{% endfor %}
				</td>
				
				<td>
				{% for code in match.item.codes %}
					{{ code.code }}
					{% if not forloop.last %} | {% endif %}
				{% endfor %}
				</td>
				
				<td>
				{% for classification in match.item.classes %}
					{{ classification.classification }}
					{% if not forloop.last %} | {% endif %}
				{% endfor %}
				</td>
				
				<td>
				{{ match.item.gazetteer.name }}
				</td>
				
				<td>
				{{ match.item.timeperiod.start }} - {{ match.item.timeperiod.end }}
				</td>

				<td>
				{{ match.match_score_name|stringformat:".2f" }}
				</td>
				
				<td>
					<button onclick="document.getElementById('intersects').value = {{ match.item.id }}; document.getElementById('search_form').submit();" class="btn btn-secondary glyphicon glyphicon-plus">
					</button>
					
					<a href="{% url 'entry_detail' match.item.gazetteer.id match.item.id %}" class="btn btn-secondary glyphicon glyphicon-share-alt">
					</a>
				</td>
			</tr>
		{% endfor %}
		<tbody>
	  </table>
	</div>

</div>

{% else %}

	<h5>
	</h5>
	
{% endif %}
	
{% endblock %}
