
{% extends "templates/base.html" %}
{% load static %}

{% block page_content %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<h1>
Search the Internet for Maps
</h1>

<form id="search_form" action="{% url 'search' %}" method="get">

<div class="row">
	
	<input id="intersects" name="intersects" type="hidden" value="{{ request.GET.intersects }}">
	
	<div class="col-md-2 custom-checkbox" style="display:none">
		<input type="checkbox" class="custom-control-input" id="windowFilter">
		<label class="custom-control-label" for="windowFilter">Limit to Map Window</label>
	</div>
	
</div>

<br>

<div class="row">
	<input class="form-control col-md-10" id="search" name="search" type="text" placeholder="Search maps by text or url..." value="{{ request.GET.search }}">
		
	<button class="btn btn-primary" id="search_button" type="submit">Search</button>
</div>

<br>
	
<div id="map_div">
</div>

<input type="hidden" id="map_bbox" name="bbox">

</form>

<br>

<div id="recent_maps" style="margin-left:5%; width:75%">

	<h4>
	Recently Indexed Maps:
	</h4>

	<div class="row">
	{% for mapp in recent_maps %}
		<div class="col-sm-3" style="padding-bottom:10px">
			<a href="{% url 'map_view' mapp.obj.pk %}">
			<div class="card sm-3">
				{% if mapp.thumb %}
					<img class="card-img-top" src="{{ mapp.thumb }}" style="width:80px; height:70px; display:block; margin:auto; margin-top:20px">
				{% else %}
					<img class="card-img-top" src="https://www.pinclipart.com/picdir/big/79-797480_markers-clipart-whiteboard-marker-map-icon-png-black.png" style="width:50%; display:block; margin:auto; margin-top:20px">
				{% endif %}
				<div class="card-body">
					<h5 class="card-title"></h5>
					<p class="card-text"></p>
					<div style="text-align:center">
					<a href="{% url 'map_view' mapp.obj.pk %}"
					   class="btn btn-primary">
						View
					</a>
					</div>
				</div>
			</div>
			</a>
		</div>
		{% endfor %}
	</div>
	
<br><br>

</div>
	
{% endblock %}
